@import '../../../styles/common.scss';

.input-search-comics{
  width: 70% !important;
}

.select-format{
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid $white-color;
  background-color: $black3-color;
  color: $white-color;
  font-weight: map-get($font-weights, bold);
  margin-bottom: 20px;
}