// colors
$aqua-color: #00b894;
$aqua2-color: #00cec9;
$blue-color: #0984e3;
$purple-color: #6c5ce7;
$yellow-color: #fdcb6e;
$orange-color: #e17055;
$red-color: #EC1D24;
$red2-color: #E50B14;
$red3-color: #A60000;
$red4-color: #540508;
$pink-color: #e84393;
$black-color: #2d3436;
$black3-color: #000;
$green-color: #4cd137;
$blue2-color: #192a56;
$gray-color: #718093;
$black2-color: #353b48;
$yellow2-color: #fff200;
$pink2-color: #ffb8b8;
$purple2-color: #c56cf0;
$gray2-color: #4C6782;
$white-color: #fff;
$gray3-color: #2c3e50;
$gray4-color: #222f3e;
$background-color: #F4F7FC;

//look
$radius: 8px;
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$font-family: 'Montserrat', 'sans-serif';
$font-weights: (
  'regular': 400,
  'bold': 700,
);

//break points
$mobile: 480px;
$tablet: 700px;
$desk: 1024px;
